.class {
    font-family: 'Montserrat', sans-serif;
}

.class1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
}

.class1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    color: #BE3969;
    text-decoration: none;
}

.class5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #9b9b9b;

span {
    background-color: #9b9b9b;
}

